.gridlines .domain {
  display: none;
}

.gridlines line {
  stroke: rgb(121, 121, 121);
}

.histogram {
  stroke: gray;
  fill: pink;
}

.state {
  stroke: white;
  stroke-width: 1px;
  fill: lightgray;
}
.outline {
  stroke: darkgray;
  stroke-width: 3px;
  fill: rgba(255, 255, 255, 0);
}

.headerContainer {
  position: relative;

  .text{
    position: absolute;
    bottom: 50px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Rubik";
    font-style: normal;
    text-align: left;
  }

  .h1-top{
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
  }

  .h1-bottom{
    font-weight: bold;
    font-size: 28px;
    line-height: 20px;
  }
  .imageStyle  {
    width:1920px;
    height:563px;
    left:-287px
  }
  
  .h3Style{
    // position:"static",
    width:1111px;
    height:20px;
    font-family:"Rubik";
    font-style:"normal";
    // fontWeight: 300,
    font-size:16px
  }
  
  .h4Style {
    // position:"static",
    width:1111px;
    height:44px;
    font-family:"Rubik";
    font-style:"normal";
    font-size:16px;
    top:"36px"
  }
}