.gridlines .domain {
  display: none;
}

.gridlines line {
  stroke: rgb(121, 121, 121);
}

.histogram {
  stroke: gray;
  fill: pink;
}

.state {
  stroke: white;
  stroke-width: 1px;
  fill: lightgray;
}
.outline {
  stroke: darkgray;
  stroke-width: 3px;
  fill: rgba(255, 255, 255, 0);
}



.headerContainer {
  position: relative;

  .imageStyle  {
    width:100%;
    height:50%;
  }

  .header{
    position: absolute;
    bottom: 0;
    color: white;
    font-family: "Rubik";
    font-style: normal;
    text-align: left;
    font-weight: bold;
    line-height: 30px;
    width: 100%;

    .h1-top{
      font-size: 28px;
      padding-left: 5%;
      padding-right: 5%;
    }
  
    .h1-bottom{
      font-size: 36px;
      padding-left: 5%;
      padding-right: 5%;
    }

    #rectangle{
      background-color: white;
      height: 80px;
      margin-left: 2%;
      margin-right: 2%
    }

  }
}
  
.introduction-text{
  font-family: Rubik;
  font-style: normal;
  font-size: 16px;
  padding-left: 5%;
  padding-right: 5%;
  

  h3{
    font-weight: bold;
  }
  
  h4 {
    font-weight: normal;
  }
}



.categoryCardContainer {
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 5%;

  .greyLine {
    border: 3px solid #E0E0E0;
    align-items: center;
    display: flex;
  }
  .orangeLine {    
    border: 5px solid #FF820C;
    align-items: center;
    display: flex;
  }

  .cardImageStyle{
    object-fit: cover;
    width: 100%;
  }

  .body {
    font-family: "Rubik";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #3E4955;

  }
  .embeddedLink {
    font-family: "Rubik";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FF820C;

  }
  .variable-list {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
  }

}