.adminLandingContainer {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 20%;
  .adminLandingContent {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100px
  }
  .font{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
  }
  .warning{
    justify-content: center;
    display: flex;
    align-items: center;
  }
}