.dropdownContainer {
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  .variableHeader {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
  }
  .download-btn{
    background-color: #FFB83F;
    margin: 1rem;
  }
}