.histogram-container {
	display: flex;
}

body {
	margin: 0;
	// padding: 40px;
	font-family: "Raleway", sans-serif;
	font-size: 13px;
}

p {
	font-family: "Merriweather", serif;
	font-size: 1.1em;
	line-height: 1.6em;
}

p#info {
	width: 600px;
	margin-bottom: 60px;
}

.bar {
  width: 80px;
  background-color: #ff820c;
  float: left;
  cursor: pointer;
  border-style: solid; 
  border-width: 1px; 
  border-color: black
  }

.bar:last-child {
	margin-right: 0;
}

button {
	cursor: pointer;
}