.gridlines .domain {
  }
  
  .gridlines line {
    stroke: rgb(121, 121, 121);
  }
  
  .histogram {
    stroke: gray;
    fill: #ff820c;
  }
  
  .state {
    stroke: white;
    stroke-width: 1px;
    fill: lightgray;
  }
  .outline {
    stroke: darkgray;
    stroke-width: 3px;
    fill: rgba(255, 255, 255, 0);
  }